.benefits {
    padding-top: 114px;

    &__inner {
        position: relative;
        border-bottom: 5px solid rgba(#0D37BC, .1);
        padding-bottom: 354px;
    }

    &__title {
        margin-bottom: 177px;
        margin-top: 0;
        color: $black-1;
        text-align: center;
    }

    &__list {
        max-width: 600px;
        margin-left: auto;

        li {
            font-size: 24px;
            line-height: 35px;
            font-family: $sourcesans-semibold;
            font-weight: 600;
            color: $accent;
            padding-left: 24px;
            display: inline-block;
            margin-bottom: 14px;
            position: relative;
            
            strong {
                position: relative;
                padding-bottom: 3px;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $accent;
                }
            }

            span {
                display: inline-block;
                color: rgba($black-1, .5);
                margin-top: 14px;
                font-weight: 600;
                font-family: $gilroy-semibold;
            }

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 13px;
                width: 16px;
                height: 13px;
                background: url('../images/dist/check.svg') center no-repeat;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .card--7 {
        position: absolute;
        top: 180px;
        left: 230px;
    }

    .card--3 {
        position: absolute;
        top: 365px;
        left: 540px;
    }
}