.hero {
    position: relative;
    background-color: $accent-bg;
    padding-top: 200px;
    padding-bottom: 335px;

    .card--6 {
        position: absolute;
        left: 40px;
        top: 200px;
        transform: rotate(-8deg);
    }

    .card--1 {
        position: absolute;
        left: 160px;
        top: 380px;
        transform: rotate(6deg);
    }

    .card--2 {
        position: absolute;
        right: 200px;
        top: 200px;
        transform: rotate(-9deg);
    }

    .card--3 {
        position: absolute;
        right: 105px;
        top: 440px;
        transform: rotate(6deg);
    }

    &__inner {
        position: relative;
        z-index: 8;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 45px;
        font-size: 22px;
        line-height: 26px;
    }

    &__form {
        form {
            display: flex;
        }
        input {
            display: block;
            padding: 25px 30px;
            font-size: 24px;
            line-height: 32px;
            border-radius: 6px;
            border: none;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
            width: 70%;

            &::placeholder {
                opacity: .2;
            }
        }
    }

    &__btn {
        background-color: $accent;
        color: #fff;
        font-size: 24px;
        line-height: 1;
        padding: 25px 29px;
        border-radius: 6px;
        margin-left: 10px;
        outline: transparent;
    }

}
