.video {
    position: relative;
    margin-top: -130px;

    &__item {
        display: block;
        position: relative;
        filter: drop-shadow(0px 50px 80px rgba(0, 0, 0, 0.05));

        & > img {
            width: 100%;
        }
    }

    &__banner {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        position: absolute;
        right: 0;
        top: 92px;
        z-index: 8;
        background-color: $darkblue;
        border-radius: 15px 0px 0px 0px;
        input {
            max-width: 180px;
            display: block;
            padding-right: 20px;
            font-size: 18px;
            font-family: $sourcesans;
            color: #fff;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid rgba(#FFFFFF, .5);
            margin-left: 33px;
            margin-right: 20px;
            &::placeholder {
                color: rgba(#fff, .5);
            }
        }
    }

    &__banner-title {
        color: #fff;
        font-size: 18px;
        line-height: 25px;
        font-family: $sourcesans;
        font-weight: 600;
    }

    &__plus {
        cursor: pointer;
        position: relative;
        width: 15px;
        height: 15px;
        margin-top: 3px;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &::after {
            width: 2px;
            height: 100%;
            left: 7px;
        }
    }


    &__btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        background-color: #F8F8F8;
        max-width: 1760px;
        padding: 0 50px;
        padding-top: 350px;
        padding-bottom: 80px;
        margin-top: -305px;
        margin-left: auto;
        margin-right: auto;
    }

    &__desc {
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        li {
            margin-left: 33px;
            margin-right: 33px;
            max-width: 280px;
        }

        p {
            font-size: 20px;
            line-height: 24px;
            margin: 0;
        }
    }

    &__desc-title {
        display: inline-block;
        margin-bottom: 16px;
        padding-bottom: 3px;
        font-family: $gilroy-bold;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        &--blue {
            position: relative;
            font-family: $oxygen-bold;
            font-weight: 700;
            color: $accent;
            padding-right: 6px;
            span {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -3px;
                    width: 110%;
                    height: 1px;
                    background-color: $accent;
                }

                &:first-child {
                    &::after {
                        left: 0;
                        transform: none;
                    }
                }
            }
        }
    }
}
